body{
    background-color: lightgrey;
}
header{
    background-color:#35424a;
    color: white;
    padding-top: 30px;
    min-height: 150px;
    border-bottom: orange 3px solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    margin-bottom: 20px;
}
nav ul{
    text-align: center;
    background-color:#35424a;
}
nav li{
    display: inline-block;
    margin: 10px;
}
nav a{
    color: white;
    font-weight: bold;
}
nav a:hover{
    color: aqua;
}
section{
    background-color: white;
    min-height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding-bottom: 10px;
}
section h2{
    padding: 20px;
    color: #35424a;
    border-bottom: 3px solid ;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}
th{
    background-color: #35424a;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
td{
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
    text-align: center  ;  
}
img{
    width: 400px;
    height: 150px;
    border: 2px solid #35424a;
    box-shadow: #35424a;
}
img:hover{
    transform: scale(2);
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    background-color:#35424a;
}