body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    color: #333;
}

header {
    background-color: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 150px;
    border-bottom: orange 3px solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    margin-bottom: 20px;
}

nav ul {
    text-align: center;
    background-color: #35424a;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}

section {
    background-color: white;
    min-height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

section h2 {
    color: #35424a;
    border-bottom: 3px solid #35424a;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.passion-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.passion-item img {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    border: 2px solid #35424a;
    border-radius: 5px;
}

.passion-text h3 {
    color: #e8491d;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    background-color: #35424a;
}