
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    color: darkgrey;
}


header {
    background-color:#35424a;
    color: white;
    padding-top: 30px;
    min-height: 150px;
    border-bottom: orange 3px solid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    margin-bottom: 20px;
}

nav ul {
    text-align: center;
    background-color: #35424a;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}
section {
    background-color: white;
    min-height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

section h2{
    padding: 20px;
    color: #35424a;
    border-bottom: 3px solid ;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.box {
    background-color: #f4f4f4; 
    border-left: 5px solid orange;
    padding: 20px; 
    margin-bottom: 25px;
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(37, 36, 36, 0.1);
}

h3 {
    color: #35424a;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin-bottom: 10px;
}

.stage-box ul {
    margin-left: 20px;
    list-style-type: square; 
    color: #555;
}
li{
    color: rgb(83, 80, 80);
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    background-color:#35424a;
}